<% if @slug == "article" %>
  <p>
<% else %>
  <p class="screen-reader-only">
<% end %>
  Published on
  <time class="dt-published" datetime="<%= article.year %>-<%= article.month %>-<%= article.day %>">
    <%= article.year %>-<%= article.month %>-<%= article.day %>
  </time>
</p>
