<article role="article" class="h-entry">
  <header>
    <%= image_tag @article.photo, class: "u-photo" %>

    <div class="meta">
      <div class="p-name">
        <h1 class="p-x-title"><%= @article.title %></h1>
        <h2 class="p-x-subtitle"><%= @article.subtitle %></h2>
      </div>

      <%= render "contributors" %>
    </div>
  </header>

  <div class="e-content">
    <p><%= @article.content %></p>
    <p><%= @article.content %></p>
    <div><p><%= @article.content %></p></div>
  </div>

  <footer>
    <%= render "/articles/published_on", article: @article %>
  </footer>
</article>
