<style>
  .h-entry .u-photo {
    width: 100%;
  }
</style>

<article role="article" class="h-entry">
  <header>
    <div class="p-name">
      <h1 class="p-x-title"><%= @article.title %></h1>
      <h2 class="p-x-subtitle"><%= @article.subtitle %></h2>
    </div>

    <time class="dt-published" datetime="<%= @article.year %>-<%= @article.month %>-<%= @article.day %>">
      <%= @article.year %>-<%= @article.month %>-<%= @article.day %>
    </time>
  </header>

  <%= image_tag @article.photo, class: "u-photo" %>

  <div class="e-content">
    <%= @article.content %>
  </div>
</article>
