<div class="h-feed">

  <%= render "/articles/tile", article: @articles.first %>

  <% @articles[1..-1].in_groups_of(2).each do |row| %>
    <div class="row">
      <% row.each do |article| %>
        <%= render "/articles/tile", article: article %>
      <% end %>
    </div>
  <% end %>

</div>

<div id="contributors">
  <h1>Contributors</h1>

  <% @people.each do |person| %>
    <div class="h-card">
      <%= link_to image_tag("http://assets.allattacknoholdback.com.s3.amazonaws.com/people/#{person.slug}.jpg", class: "u-photo"),
                  "/people/#{person.slug}",
                  class: "u-url" %>
      <p>
        <%= link_to person.name, person.url, class: "p-name u-url" %>
        <%= link_to "@#{person.twitter}", "https://twitter.com/#{person.twitter}", class: "p-name u-url" %>
      </p>
    </div>
  <% end %>

  <br />
</div>
