<article class="h-card">
  <header>
    <h1>Contact</h1>
  </header>

  <p>
    <%= mail_to setting(:email), setting(:email), class: "p-email" %>
    <br />
    <%= link_to "@#{setting(:twitter_username)}", "https://twitter.com/#{setting(:twitter_username)}", class: "u-url" %>
  </p>

  <%= form_for @feedback do |f| %>
    <%= f.label :name, class: "screen-reader-only"   %>
    <%= f.text_field :name, placeholder: "Your Name" %>

    <%= f.label :name, class: "screen-reader-only" %>
    <%= f.email_field :name, placeholder: "Email"  %>

    <br />

    <%= f.label :content, class: "screen-reader-only" %>
    <%= f.text_area :content, placeholder: "What's on your mind?" %>

    <%= link_to "Cancel", contact_path, class: "cancel" %>
    <%= f.button "Submit" %>
  <% end %>
</article>
