<!DOCTYPE html>
<html dir="ltr"
      lang="en-US"
      id="<%= @slug %>"
      prefix="og: http://ogp.me/ns#">

<head>
  <%= render("/layouts/head").html_safe %>
</head>

<body id="<%= @article.try(:slug) %>">
  <%= render("/layouts/header").html_safe %>

  <%= render("/layouts/alerts").html_safe %>

  <main role="main">
    <%= yield %>
  </main>

  <%= render("/layouts/footer").html_safe %>
</body>
</html>
